<form action="/confirm" method="POST">
  <label>名前</label><input type="text" name="name">
  <label>身長</label><input type="text" name="height">
  <label>体重</label><input type="text" name="weight">
  <input type="submit">
</form>
